html[data-theme="dark"] {
  --cor-primaria: rgba(0, 0, 0, 1);
  --cor-secundaria: white;
  --cor-desc-secundaria:rgba(255, 255, 255, 0.425);
  --cor-simbolo: #00B5BB;
  --imagem-fundo: url("../img/darktopo.jpg");
  --gradiente-fundo: linear-gradient(180deg, rgba(0,0,0,1) 25%, rgba(0,0,0,0) 100%);
}

html[data-theme="light"] {
  --cor-primaria: white;
  --cor-secundaria: rgba(0, 0, 0, 1);
  --cor-desc-secundaria: rgb(86, 81, 81);
  --cor-simbolo: #009BA1;
  --imagem-fundo: url("../img/lighttopo.jpg");
  --gradiente-fundo: linear-gradient(180deg, rgba(250, 248, 234, 1) 25%, rgba(250, 248, 234,0) 100%);
}

html {
  scroll-behavior: smooth;
}

.landing {
  height: 100vh;
  width: 100%;
  background-color: var(--cor-primaria);
  background-image: var(--imagem-fundo);
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  background-size: cover;
}

.landing-gradient {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 35vh;
  width: 100%;
  background: black;
  background: var(--gradiente-fundo);
}

.landing .navbar {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

.landing .navbar #landing-logoSvg {
  position: absolute;
  height: 5.5rem;
  width: 5.5rem;
}

.landing .navbar #landing-logoSvg path {
  fill: var(--cor-simbolo);
}

.landing_conteudo {
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  gap: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.landing_conteudo-titulo {
  color: var(--cor-secundaria);
  font-size: 2.15rem;
  font-weight: 700;
  z-index: 2;
}

.landing_conteudo-descricao {
  color: var(--cor-desc-secundaria);
  font-size: 1.06rem;
  font-weight: 300;
}

.landing_conteudo_link-membro {
  margin-top: 2rem;
}

.landing_conteudo_link-membro a {
  position: relative;
  color: var(--cor-simbolo);
  font-size: 1.06rem;
  font-weight: 300;
  cursor: pointer;
  border: none;
  background: none;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
          transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transition-property: color;
  transition-property: color;
}

.landing_conteudo_link-membro a::after {
  content: " ";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--cor-simbolo);
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
          transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transition-property: width, left;
  transition-property: width, left;
}

.landing_conteudo_link-membro a:hover, .landing_conteudo_link-membro a:focus {
  color: var(--cor-simbolo);
}

.landing_conteudo_link-membro a:hover:after, .landing_conteudo_link-membro a:hover:focus {
  width: 100%;
  left: 0%;
}

.landing_conteudo_link-membro a:active {
  color: var(--cor-secundaria);
}

.landing_conteudo_pointer {
  cursor: pointer;
  height: auto;
  position: relative;
  color: var(--cor-desc-secundaria);
  top: 20%;
}

.landing_conteudo_pointer-dica {
  font-weight: 300;
}

.landing_conteudo_pointer .landing_pointer-flecha {
  position: relative;
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
  font-weight: 700;
  animation: flechaQuicando 1.5s ease-in-out infinite alternate-reverse;
}

@-webkit-keyframes flechaQuicando {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
}

@keyframes flechaQuicando {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
}

.sobreOMej {
  width: 100%;
  background-color: var(--cor-primaria);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2rem 2rem;
}

.sobreOMej_chamada {
  border-right: 3px solid var(--cor-secundaria);
  padding: 1rem;
  margin-bottom: 4rem;
}

.sobreOMej_chamada-titulo {
  color: var(--cor-secundaria);
  font-weight: 700;
  font-size: 2.15rem;
  margin-bottom: 1rem;
}

.sobreOMej_chamada-descricao {
  width: 90%;
  color: var(--cor-desc-secundaria);
  font-weight: 300;
  font-size: 1.06rem;
}

.sobreOMej_perguntas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-align: center;
  gap: 4rem;
}

.sobreOMej_perguntas_container .sobreOMej_perguntas-titulo {
  color: var(--cor-secundaria);
  font-weight: 700;
  font-size: 1.06rem;
  margin-bottom: 1rem;
}

.sobreOMej_perguntas_container .sobreOMej_perguntas-resposta {
  color: var(--cor-desc-secundaria);
  font-weight: 300;
  font-size: 1.06rem;
}

.sobreOMej_perguntas_container .sobreOMej_perguntas-resposta a {
  color: var(--cor-simbolo);
}

.sobreOMej_perguntas_container .sobreOMej_perguntas-resposta a:hover {
  border-bottom: 1px dotted var(--cor-simbolo);
}

.sobreFractal {
  width: 100%;
  height: auto;
  background-color: var(--cor-primaria);
  padding: 2rem 2rem;
  color: var(--cor-secundaria);
}

.sobreFractal-titulo_container {
  padding: 0 1rem;
  border-right: 3px solid var(--cor-secundaria);
}

.sobreFractal-titulo_container .sobreFractal-titulo {
  width: 75%;
  color: var(--cor-secundaria);
  font-weight: 700;
  font-size: 2.15rem;
  margin-bottom: 1rem;
}

.sobreFractal_container {
  padding: 0 1rem;
  margin-top: 1rem;
}

.sobreFractal_container .sobreFractal-texto {
  color: var(--cor-desc-secundaria);
  font-weight: 300;
  font-size: 1.06rem;
}

.sobreFractal .sobreFractal-cursos_container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 3rem 0 2rem;
  gap: 1.25rem;
}

.sobreFractal .sobreFractal-cursos_container .sobreFractal_curso {
  width: 100%;
  height: auto;
  text-align: center;
}

.sobreFractal .sobreFractal-cursos_container .sobreFractal_curso i {
  color: var(--cor-simbolo);
  font-size: 1.2rem;
  margin-bottom: 0.66rem;
}

.sobreFractal .sobreFractal-cursos_container .sobreFractal_curso-nome {
  margin-bottom: 1rem;
  color: var(--cor-secundaria);
  font-weight: 300;
  font-size: 1.06rem;
}

.sobreFractal .sobreFractal_mvv_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 3rem 0 2rem;
}

.sobreFractal .sobreFractal_mvv_container .sobreFractal_mvv {
  width: 100%;
  height: auto;
  text-align: center;
}

.sobreFractal .sobreFractal_mvv_container .sobreFractal_mvv i {
  color: var(--cor-simbolo);
  font-size: 1.2rem;
}

.sobreFractal .sobreFractal_mvv_container .sobreFractal_mvv-nome {
  margin: 1rem 0;
  width: 100%;
  text-align: center;
  border-bottom: 3px solid var(--cor-secundaria);
  line-height: 0.4rem;
}

.sobreFractal .sobreFractal_mvv_container .sobreFractal_mvv-nome span {
  background-color: var(--cor-primaria);
  padding: 0 1rem;
  font-size: 1.3rem;
}

.sobreFractal .sobreFractal_mvv_container .sobreFractal_mvv-nome span i {
  font-size: 1.21rem;
}

.sobreFractal .sobreFractal_mvv_container .sobreFractal_mvv-descricao {
  color: var(--cor-desc-secundaria);
  font-weight: 300;
  font-size: 1.06rem;
  margin-bottom: 1rem;
}

.sobreOsCursos {
  height: auto;
  width: 100%;
  padding: 2rem 2rem;
}

.sobreOsCursos_titulo-container {
  width: 100%;
  border-right: 3px solid var(--cor-secundaria);
  margin-bottom: 2rem;
}

.sobreOsCursos_titulo-container .sobreOsCursos-titulo {
  color: var(--cor-secundaria);
  font-weight: 700;
  font-size: 2.15rem;
  border-right: 1px sold white;
}

.sobreOsCursos_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sobreOsCursos_container .sobreOsCursos_curso-nome {
  width: 90%;
  color: var(--cor-secundaria);
  font-weight: 700;
  font-size: 1.06rem;
}

.sobreOsCursos_container .sobreOsCursos_curso-nome i {
  text-align-last: end;
  margin: auto;
  color: var(--cor-simbolo);
}

.sobreOsCursos_container .sobreOsCursos_curso_descricao-container {
  width: 90%;
  height: 0;
  overflow: hidden;
  border-left: 2px solid var(--cor-desc-secundaria);
}

.sobreOsCursos_container .sobreOsCursos_curso_descricao-container[data-open=true] {
  height: auto;
  margin-top: 0.25rem;
  margin-left: 0.25rem;
  padding: 1rem;
}

.sobreOsCursos_container .sobreOsCursos_curso_descricao-container .sobreOsCursos_curso-descricao {
  color: var(--cor-desc-secundaria);
  font-weight: 300;
  font-size: 1.06rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 100%;
  background-color: var(--cor-primaria);
  padding: 0rem 2rem;
  padding-top: 2rem;
}

footer .footer_contato-titulo {
  text-align: center;
  color: var(--cor-secundaria);
}

footer .footer_contato_formulario {
  width: 100%;
  padding: 2rem;
  color: var(--cor-desc-secundaria);
  text-align: center;
}

footer .footer_contato_formulario_container {
  width: 100%;
  position: relative;
  margin-bottom: 2rem;
}

footer .footer_contato_formulario_container-item {
  padding: 1.25rem;
  border: none;
  width: 100%;
  border-radius: 0.75rem;
  color: var(--cor-secundaria);
  background: transparent;
  outline: 2px solid var(--cor-secundaria);
}

footer .footer_contato_formulario_container .label-formulario {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(1rem, 1rem);
          transform: translate(1rem, 1rem);
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
}

footer .footer_contato_formulario_container .footer_contato_formulario_container-item:focus + .label-formulario, footer .footer_contato_formulario_container .footer_contato_formulario_container-item:valid + .label-formulario, footer .footer_contato_formulario_container .footer_contato_formulario_container-item:invalid:not(:placeholder-shown) + .label-formulario {
  -webkit-transform: translate(10px, -14px) scale(0.8);
          transform: translate(10px, -14px) scale(0.8);
  color: var(--cor-secundaria);
  padding-inline: 5px;
  background-color: var(--cor-primaria);
}

footer .footer_contato_formulario_container .footer_contato_formulario_container-item:focus.label-formulario, footer .footer_contato_formulario_container .footer_contato_formulario_container-item:invalid:not(:placeholder-shown) {
  outline-color: red;
  color: red;
}

footer .footer_contato_formulario-botao {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: var(--cor-primaria);
  background-color: var(--cor-secundaria);
  border: none;
  border-radius: 45px;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

footer .footer_contato_formulario-botao:hover {
  background-color: var(--cor-simbolo);
  -webkit-box-shadow: 0px 15px 20px rgba(46, 229, 229, 0.4);
          box-shadow: 0px 15px 20px rgba(46, 229, 229, 0.4);
  color: white;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

footer .footer_contato_formulario-botao:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

footer .nossas-redes-titulo {
  text-align: center;
  color: var(--cor-secundaria);
  margin-bottom: 1rem;
}

footer .nossas-redes_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

footer .nossas-redes_container a i {
  color: var(--cor-secundaria);
  font-size: 2rem;
  margin: 1.5rem;
}

footer .nossas-redes_container a i:hover {
  color: var(--cor-simbolo);
}

footer .mapa {
  height: 100%;
  width: 100%;
}

footer .copyright {
  margin-top: 0.5rem;
  color: var(--cor-desc-secundaria);
  font-weight: 300;
  font-size: 0.75rem;
}

@media screen and (min-width: 1000px) {
  .sobreOMej {
    background-color: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sobreOMej .sobreOMej_chamada {
    background-color: var(--cor-primaria);
    width: 50%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 2rem 1rem;
  }
  .sobreOMej_perguntas {
    padding: 5rem;
    padding-top: 1;
    gap: 2rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .sobreOMej_perguntas_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sobreOMej_perguntas_container .sobreOMej_perguntas-titulo, .sobreOMej_perguntas_container .sobreOMej_perguntas-resposta {
    width: 75%;
  }
  .sobreFractal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sobreFractal-titulo_container {
    padding: 1rem 1rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sobreFractal-titulo_container .sobreFractal-titulo {
    width: 100%;
  }
  .sobreFractal_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .sobreFractal_container .sobreFractal-texto {
    width: 75%;
    text-align: center;
  }
  .sobreFractal .sobreFractal-cursos_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .sobreFractal .sobreFractal_mvv_container {
    margin: 3rem 0 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 2rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .sobreFractal .sobreFractal_mvv_container .sobreFractal_mvv {
    width: 25%;
    padding: 0;
    margin: 0;
  }
  footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
  footer .nossas-redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  footer .nossas-redes-titulo {
    width: 100%;
    text-align: center;
    color: var(--cor-secundaria);
  }
  footer .nossas-redes_container a i {
    margin: 0.5rem 0.5rem 1rem;
  }
  footer .mapa {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 50%;
    width: 75%;
  }
  #botao-topo {
    display: none;
    visibility: hidden;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

body {
  background-color: var(--cor-primaria);
}

#botao-topo {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.25rem;
  color: var(--cor-primaria);
  -webkit-box-shadow: var(--cor-secundaria) 0px 2px 4px 0px, var(--cor-secundaria) 0px 2px 16px 0px;
          box-shadow: var(--cor-secundaria) 0px 2px 4px 0px, var(--cor-secundaria) 0px 2px 16px 0px;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100%;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: var(--cor-simbolo);
}
/*# sourceMappingURL=main.css.map */