html[data-theme="dark"] {
  --cor-primaria: rgba(0, 0, 0, 1);
  --cor-secundaria: white;
  --cor-desc-secundaria:rgba(255, 255, 255, 0.425);
  --cor-simbolo: #00B5BB;
  --imagem-fundo: url("../img/darktopo.jpg");
  --gradiente-fundo: linear-gradient(180deg, rgba(0,0,0,1) 25%, rgba(0,0,0,0) 100%);
}

html[data-theme="light"] {
  --cor-primaria: white;
  --cor-secundaria: rgba(0, 0, 0, 1);
  --cor-simbolo: #009BA1;
  --imagem-fundo: url("../img/lighttopo.jpg");
  --gradiente-fundo: linear-gradient(180deg, rgba(250, 248, 234, 1) 25%, rgba(250, 248, 234,0) 100%);
}

html {
  scroll-behavior: smooth;
}

.landing {
  height: 100vh;
  width: 100%;
  background-color: var(--cor-primaria);
  background-image: var(--imagem-fundo);
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  background-size: cover;
}

.landing-gradient {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 35vh;
  width: 100%;
  background: black;
  background: var(--gradiente-fundo);
}

.landing .navbar {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

.landing .navbar #landing-logoSvg {
  position: absolute;
  height: 5.5rem;
  width: 5.5rem;
}

.landing .navbar #landing-logoSvg path {
  fill: var(--cor-simbolo);
}

.landing_conteudo {
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  gap: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.landing_conteudo-titulo {
  color: var(--cor-secundaria);
  font-size: 2.15rem;
  font-weight: 700;
  z-index: 2;
}

.landing_conteudo-descricao {
  color: var(--cor-desc-secundaria);
  font-size: 1.06rem;
  font-weight: 300;
}

.landing_conteudo_link-membro {
  margin-top: 2rem;
}

.landing_conteudo_link-membro a {
  position: relative;
  color: var(--cor-simbolo);
  font-size: 1.06rem;
  font-weight: 300;
}

.landing_conteudo_link-membro a::after {
  content: " >";
}

.landing_conteudo_pointer {
  cursor: pointer;
  height: auto;
  position: relative;
  color: var(--cor-desc-secundaria);
  top: 20%;
}

.landing_conteudo_pointer-dica {
  font-weight: 300;
}

.landing_conteudo_pointer .landing_pointer-flecha {
  position: relative;
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
  font-weight: 700;
  animation: flechaQuicando 1.5s ease-in-out infinite alternate-reverse;
}

@-webkit-keyframes flechaQuicando {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
}

@keyframes flechaQuicando {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
}

.sobreOMej {
  width: 100%;
  background-color: var(--cor-primaria);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2rem 2rem;
  margin-bottom: 2rem;
}

.sobreOMej_chamada {
  border-right: 3px solid var(--cor-secundaria);
  padding: 1rem;
  margin-bottom: 4rem;
}

.sobreOMej_chamada-titulo {
  color: var(--cor-secundaria);
  font-weight: 700;
  font-size: 2.15rem;
  margin-bottom: 1rem;
}

.sobreOMej_chamada-descricao {
  width: 90%;
  color: var(--cor-desc-secundaria);
  font-weight: 300;
  font-size: 1.06rem;
}

.sobreOMej_perguntas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-align: center;
  gap: 4rem;
}

.sobreOMej_perguntas_container .sobreOMej_perguntas-titulo {
  color: var(--cor-secundaria);
  font-weight: 700;
  font-size: 1.06rem;
  margin-bottom: 1rem;
}

.sobreOMej_perguntas_container .sobreOMej_perguntas-resposta {
  color: var(--cor-desc-secundaria);
  font-weight: 300;
  font-size: 1.06rem;
}

.sobreOMej_perguntas_container .sobreOMej_perguntas-resposta a {
  color: var(--cor-simbolo);
}

.sobreOMej_perguntas_container .sobreOMej_perguntas-resposta a:hover {
  border-bottom: 1px dotted var(--cor-simbolo);
}

.sobreOsCursos {
  height: auto;
  width: 100%;
  padding: 2rem 2rem;
}

.sobreOsCursos_titulo-container {
  width: 100%;
  border-right: 3px solid var(--cor-secundaria);
  margin-bottom: 2rem;
}

.sobreOsCursos_titulo-container .sobreOsCursos-titulo {
  color: var(--cor-secundaria);
  font-weight: 700;
  font-size: 2.15rem;
  border-right: 1px sold white;
}

.sobreOsCursos_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sobreOsCursos_container .sobreOsCursos_curso-nome {
  width: 90%;
  color: var(--cor-secundaria);
  font-weight: 700;
  font-size: 1.06rem;
}

.sobreOsCursos_container .sobreOsCursos_curso-nome i {
  text-align-last: end;
  margin: auto;
  color: var(--cor-simbolo);
}

.sobreOsCursos_container .sobreOsCursos_curso_descricao-container {
  width: 90%;
  height: 0;
  overflow: hidden;
  border-left: 2px solid var(--cor-desc-secundaria);
}

.sobreOsCursos_container .sobreOsCursos_curso_descricao-container[data-open=true] {
  height: auto;
  margin-top: 0.25rem;
  margin-left: 0.25rem;
  padding: 1rem;
}

.sobreOsCursos_container .sobreOsCursos_curso_descricao-container .sobreOsCursos_curso-descricao {
  color: var(--cor-desc-secundaria);
  font-weight: 300;
  font-size: 1.06rem;
}

footer {
  height: auto;
  width: 100%;
  background-color: var(--cor-primaria);
  padding: 0rem 2rem;
  padding-top: 2rem;
}

footer .nossas-redes-titulo {
  color: var(--cor-secundaria);
  margin-bottom: 1rem;
}

footer .nossas-redes_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

footer .nossas-redes_container a i {
  color: var(--cor-secundaria);
  font-size: 2rem;
  margin: 1.5rem;
}

footer .mapa {
  height: 100%;
  width: 100%;
}

footer .copyright {
  margin-top: 0.5rem;
  color: var(--cor-desc-secundaria);
  font-weight: 300;
  font-size: 0.75rem;
}

@media screen and (min-width: 1000px) {
  .sobreOMej {
    background-color: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sobreOMej .sobreOMej_chamada {
    background-color: var(--cor-primaria);
    width: 50%;
    padding: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 2rem 1rem;
    padding: 3rem;
  }
  .sobreOMej_perguntas {
    padding: 5rem;
    gap: 2rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .sobreOMej_perguntas_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sobreOMej_perguntas_container .sobreOMej_perguntas-titulo, .sobreOMej_perguntas_container .sobreOMej_perguntas-resposta {
    width: 75%;
  }
  .sobreOsCursos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .sobreOsCursos_titulo-container {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: auto;
    border-right: 3px solid var(--cor-secundaria);
    padding: 2rem;
  }
  .sobreOsCursos_container {
    margin: 2rem;
    text-align: center;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
  }
  .sobreOsCursos_container .sobreOsCursos_curso-nome i {
    display: none;
  }
  .sobreOsCursos_container .sobreOsCursos_curso_descricao-container {
    border: none;
    height: auto;
    margin-top: 0.25rem;
    margin-left: 0.25rem;
    padding: 1rem;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  footer .nossas-redes-titulo {
    width: 100%;
    text-align: center;
    color: var(--cor-secundaria);
  }
  footer .nossas-redes_container a i {
    margin: 0.5rem 0.5rem 1rem;
  }
  footer .mapa {
    margin: auto;
    width: 33%;
    height: 25rem;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

body {
  background-color: var(--cor-primaria);
}

#botao-topo {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.25rem;
  color: var(--cor-primaria);
  -webkit-box-shadow: var(--cor-secundaria) 0px 2px 4px 0px, var(--cor-secundaria) 0px 2px 16px 0px;
          box-shadow: var(--cor-secundaria) 0px 2px 4px 0px, var(--cor-secundaria) 0px 2px 16px 0px;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100%;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: var(--cor-simbolo);
}
/*# sourceMappingURL=main.css.map */