* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html[data-theme="dark"] {
  --primary-color: #141414;
  --secundary-color: white;
  --menu-color: #1d1d1d;
}

html[data-theme="light"] {
  --primary-color: white;
  --secundary-color: #262626;
  --menu-color:rgb(228, 228, 228);
}

a {
  text-decoration: none;
  color: inherit;
}

.landing {
  height: 100vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  background-color: var(--primary-color);
}

.landing-title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 4rem;
}

.landing-title-wrapper .landing-title {
  color: var(--secundary-color);
  font-size: 4rem;
  font-weight: 700;
}

.landing-info-wrapper {
  position: relative;
  padding-right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing-info-wrapper .landing-info-text {
  font-size: 2.5rem;
  font-weight: 500;
  width: 75%;
  color: var(--secundary-color);
}

.landing-info-wrapper .landing-info-text_primary, .landing-info-wrapper .landing-info-text_secundary {
  margin-bottom: 2rem;
}

.landing-info-wrapper .landing-info-button-wrapper {
  width: 75%;
}

.landing-info-wrapper .landing-info-button {
  width: 75%;
  background-color: var(--secundary-color);
  cursor: pointer;
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: var(--primary-color);
  font-size: 2.5rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 3rem;
}

.landing-info-wrapper::before {
  content: " ";
  height: 55%;
  width: 0.25rem;
  background-color: var(--secundary-color);
  position: absolute;
  right: 90%;
}

@media screen and (max-width: 500px) {
  .landing {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 40% 60%;
        grid-template-rows: 40% 60%;
    gap: 1rem;
  }
  .landing-title-wrapper {
    width: 100%;
    padding: 0.5rem;
    height: 100%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .landing-title-wrapper .landing-title {
    font-size: 2rem;
  }
  .landing-info-wrapper {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    position: initial;
    width: 100%;
    padding: 0.75rem;
    margin: 0;
  }
  .landing-info-wrapper::before {
    content: " ";
    height: 2px;
    width: 80%;
    right: 10%;
    opacity: 0.25;
    top: 60%;
  }
  .landing-info-wrapper .landing-info-text {
    width: 100%;
    font-size: 0.75rem;
    display: initial;
    text-align: center;
  }
  .landing-info-wrapper .landing-info-text_primary, .landing-info-wrapper .landing-info-text_secundary {
    margin-bottom: 1rem;
  }
  .landing-info-wrapper .landing-info-button-wrapper {
    width: 100%;
  }
  .landing-info-wrapper .landing-info-button-wrapper .landing-info-button {
    width: 100%;
    font-size: 0.75rem;
    padding: 0.5rem;
  }
}

.navbar {
  background-color: var(--primary-color);
  padding: 2rem 4rem;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-image_wrapper {
  height: 3.5rem;
}

.navbar-image_wrapper .navbar-logo {
  width: 75%;
}

.navbar-items-wrapper {
  width: 50%;
}

.navbar-items-wrapper .navbar-items-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  list-style-type: none;
}

.navbar-items-wrapper .navbar-items-list-item {
  color: var(--secundary-color);
  font-size: 1rem;
  margin-left: 2rem;
  font-weight: 500;
}

.navbar-items-wrapper .navbar-items-list-item:hover {
  text-shadow: -3px 3px 20px var(--secundary-color);
}

.navbar-items-wrapper .navbar-items-list-item.item-active {
  font-weight: 700;
}

.navbar #botaoMenu {
  display: none;
  font-size: 1rem;
  color: var(--secundary-color);
  cursor: pointer;
  position: absolute;
  right: 1.25rem;
  top: 1.35rem;
}

@media screen and (max-width: 500px) {
  .navbar {
    padding: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .navbar #botaoMenu {
    display: initial;
  }
  .navbar-image_wrapper {
    width: 66%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar-items-wrapper {
    overflow: hidden;
    height: 0vh;
    width: 100vw;
    opacity: 0;
    margin: -1rem;
    margin-top: 1rem;
    padding: 2rem;
    -webkit-transition: none;
    transition: none;
  }
  .navbar-items-wrapper .navbar-items-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  .navbar.open .navbar-items-wrapper {
    background-color: var(--menu-color);
    border-bottom: 5px solid aqua;
    text-align: center;
    opacity: 1;
    width: 100vw;
    height: 60vh;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .navbar.open .navbar-items-wrapper .navbar-items-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (min-width: 500px) and (max-width: 810px) {
  .navbar-image_wrapper {
    width: 33%;
  }
  .navbar-items-wrapper {
    width: 66%;
  }
}

body {
  background-color: var(--primary-color);
}
/*# sourceMappingURL=main.css.map */